@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo de la página */
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/imagenes/logoPrincipal.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1; 
  }
.img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto; 
  }


.logo {
    font-size: 24px;
}



main {
    padding: 20px;
}

footer {
    background-color: #7784F8;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #7784F8;
    color: #fff;
    padding: 10px;
}


.miLista li {
    margin-bottom: 10px; 
  }
.linkEstilizado:hover {
    background-color: #F5BBE2; 
    margin-bottom: 10%;
    border-radius: 40px; 
    display: inline-block; 
    transition: background-color 0.3s;
  }
  @media (max-width: 768px) {
    .miLista li {
        margin-bottom: 10px; 
      }
    .linkEstilizado:hover {
      background-color: #F5BBE2; 
      border-radius: 40px; 
      display: inline-block; 
      transition: background-color 0.3s;
    }
  }


main {
    padding: 20px;
}

footer {
    background-color: #7784F8;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header {
    background-color: #7784F8;
    color: white;
    padding: 10px;
    height: 60px;
  }

  

  @media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }
    
    
    
    main {
        padding: 20px;
    }
    
    footer {
        background-color: #7784F8;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    
    header {
        background-color: #7784F8;
        color: white;
        padding: 10px;
        height: 60px;
      }
      

    

    .logo {
        font-size: 20px; /* Reduce el tamaño del logo */
    }
}
    
      
.welcome-text {
    font-family: 'Poppins', sans-serif; /* Fuente 'Poppins' y fuente de respaldo genérica */
    font-size: 3em; /* Tamaño de fuente grande */
    text-align: center; /* Texto centrado horizontalmente */
    animation: bounce 2s infinite; /* Efecto de animación "bounce" */
    position: relative;
  background: rgba(255, 255, 255, 0.6); /* Fondo blanco semitransparente */
  display: inline-block;
  padding: 10px 20px;
  color: #000; /* Color del texto */
  z-index: 1;
  }
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-20px); /* Movimiento hacia arriba */
        }
        60% {
          transform: translateY(-10px); /* Movimiento hacia arriba */
        }
    }
    .secund-text {
        font-family: 'Poppins', sans-serif; /* Fuente 'Poppins' y fuente de respaldo genérica */
        font-size: 2em; /* Tamaño de fuente grande */
        text-align: center; /* Texto centrado horizontalmente */
        background: rgba(255, 255, 255, 0.6); /* Fondo blanco semitransparente */
        display: inline-block;
        padding: 10px 20px;
        color: #000; /* Color del texto */
        z-index: 1;
        
      }
      .img2 {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0;
        border-radius: 80%; /* Hace que la imagen sea redonda */
        float: left; /* Hace que la imagen se coloque a la izquierda */
        margin-right: 20px; /* Agrega un espacio entre la imagen y el contenido a la derecha */
      }

      /* Estilos para el navbar */
.custom-navbar {
  background-color: #007bff; /* Color de fondo */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilos para el logotipo */
.custom-navbar .logo a {
  color: #fff; /* Color del texto del logotipo */
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para el botón de menú en dispositivos móviles */
.custom-navbar .menu-toggle {
  display: block; /* Mostrar en pantallas móviles */
  cursor: pointer;
}

.custom-navbar .menu-toggle span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff; /* Color de las barras del botón */
  margin: 6px 0;
}

/* Estilos para la lista de enlaces de navegación */
.custom-navbar .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.custom-navbar .nav-links li {
  margin-right: 20px;
}

.custom-navbar .nav-links a {
  color: #fff; /* Color del texto de los enlaces */
  text-decoration: none;
  font-size: 16px;
}

/* Estilos para el menú desplegable en dispositivos móviles */
.custom-navbar.active .nav-links {
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #007bff; /* Color de fondo */
  display: none;
  padding: 10px 0;
}

.custom-navbar.active .nav-links li {
  margin-right: 0;
  margin-bottom: 10px;
}

/* Estilos para el menú desplegable activo */
.custom-navbar.active .menu-toggle span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.custom-navbar.active .menu-toggle span:nth-child(2) {
  opacity: 0;
}

.custom-navbar.active .menu-toggle span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .custom-navbar .menu-toggle {
    display: block; /* Mostrar en pantallas móviles */
  }

  .custom-navbar .nav-links {
    display: none; /* Ocultar por defecto en pantallas móviles */
  }

  .custom-navbar.active .nav-links {
    display: flex;
  }
}
