@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo de la página */
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/imagenes/logoPrincipal.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1; 
  }
.img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto; 
  }
nav {
    background-color: #7784F8;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #7784F8;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #7784F8;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a:hover {
    background-color: #F5BBE2; 
    border-radius: 40px; 
    display: inline-block; 
    transition: background-color 0.3s;
}
.miLista li {
    margin-bottom: 10px; 
  }
.linkEstilizado:hover {
    background-color: #F5BBE2; 
    margin-bottom: 10%;
    border-radius: 40px; 
    display: inline-block; 
    transition: background-color 0.3s;
  }
  @media (max-width: 768px) {
    .miLista li {
        margin-bottom: 10px; 
      }
    .linkEstilizado:hover {
      background-color: #F5BBE2; 
      border-radius: 40px; 
      display: inline-block; 
      transition: background-color 0.3s;
    }
  }
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;

}

main {
    padding: 20px;
}

footer {
    background-color: #7784F8;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header {
    background-color: #7784F8;
    color: white;
    padding: 10px;
    height: 60px;
  }

  

  @media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #333;
        color: #fff;
        padding: 10px;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }
    
    main {
        padding: 20px;
    }
    
    footer {
        background-color: #7784F8;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    
    header {
        background-color: #7784F8;
        color: white;
        padding: 10px;
        height: 60px;
      }
      nav {
        padding: 5px 10px; /* Redefine el padding para hacerlo más compacto */
    }

    .nav-links {
        display: none; /* Oculta los enlaces en la versión móvil por defecto */
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav-links.active {
        display: flex; /* Muestra los enlaces cuando el menú está activo */
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        padding: 10px;
        font-size: 18px; /* Aumenta el tamaño del texto para mejorar la legibilidad en móviles */
    }

    .logo {
        font-size: 20px; /* Reduce el tamaño del logo */
    }

    .nav-toggle {
        display: block; /* Muestra el icono del menú */
    }

    .nav-toggle.active {
        display: none; /* Oculta el icono del menú cuando está activo */
    }
}
    
      
.welcome-text {
    font-family: 'Poppins', sans-serif; /* Fuente 'Poppins' y fuente de respaldo genérica */
    font-size: 3em; /* Tamaño de fuente grande */
    text-align: center; /* Texto centrado horizontalmente */
    animation: bounce 2s infinite; /* Efecto de animación "bounce" */
    position: relative;
  background: rgba(255, 255, 255, 0.6); /* Fondo blanco semitransparente */
  display: inline-block;
  padding: 10px 20px;
  color: #000; /* Color del texto */
  z-index: 1;
  }
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-20px); /* Movimiento hacia arriba */
        }
        60% {
          transform: translateY(-10px); /* Movimiento hacia arriba */
        }
    }
    .secund-text {
        font-family: 'Poppins', sans-serif; /* Fuente 'Poppins' y fuente de respaldo genérica */
        font-size: 2em; /* Tamaño de fuente grande */
        text-align: center; /* Texto centrado horizontalmente */
        background: rgba(255, 255, 255, 0.6); /* Fondo blanco semitransparente */
        display: inline-block;
        padding: 10px 20px;
        color: #000; /* Color del texto */
        z-index: 1;
        
      }
      .img2 {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0;
        border-radius: 80%; /* Hace que la imagen sea redonda */
        float: left; /* Hace que la imagen se coloque a la izquierda */
        margin-right: 20px; /* Agrega un espacio entre la imagen y el contenido a la derecha */
      }